* {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  margin: 0;
  color: #aaa;
  background-color: #000;
}

body > * {
  position: absolute;
  transition: opacity 2000ms;
}

#game {
  font-size: 18px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (max-height: 600px), (max-width: 830px) {
  #game {
    font-size: 16px;
  }
}

@media (max-height: 530px), (max-width: 750px) {
  #game {
    font-size: 14px;
  }
}

@media (max-height: 470px), (max-width: 680px) {
  #game {
    font-size: 12px;
  }
}

#game > * {
  position: absolute;
}

#game .title {
  font-family: monospace;
  white-space: pre;
  left: 2ch;
  top: 1.2em;
  color: goldenrod;
}

#game .ground {
  bottom: 3em;
  right: 1ch;
  white-space: pre;
  font-family: monospace;
}

#game .ground .grass {
  color: #3c3;
}

#game .blurb {
  left: 26ch;
  right: 28ch;
  bottom: 6.6em;
}

#game .blurb span {
  color: #fff;
}
