@font-face {
  font-family: Metrickal;
  src: url(fonts/Metrickal-Regular.otf);
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  margin: 0;
  color: #aaa;
  background-color: #000;
  font-family: monospace;
}

body > * {
  position: absolute;
  transition: opacity 2000ms;
}

#game {
  font-size: 18px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (max-height: 600px), (max-width: 830px) {
  #game {
    font-size: 16px;
  }
}

@media (max-height: 530px), (max-width: 750px) {
  #game {
    font-size: 14px;
  }
}

@media (max-height: 470px), (max-width: 680px) {
  #game {
    font-size: 12px;
  }
}

#game > * {
  position: absolute;
}

#game .title {
  white-space: pre;
  left: 2ch;
  top: 1.2em;
  color: goldenrod;
}

#game .ground {
  bottom: 3em;
  right: 1ch;
  white-space: pre;
}

#game .ground .grass {
  color: #3c3;
}

#game .blurb {
  left: 26ch;
  right: 28ch;
  bottom: 6.6em;
  font-family: Metrickal, monospace;
}

#game .blurb span {
  color: #fff;
}

#game .tower {
  white-space: pre;
  right: 6ch;
  bottom: 4.2em;
}

#game .tower span:not(.transparent) {
  background-color: #222;
}

#game .tidbit {
  color: #666;
  left: 1ch;
  bottom: 1.2em;
  right: 1ch;
  text-align: center;
  font-family: Metrickal, monospace;
}

#map {
  left: 0;
  top: 0;
  width: 60vw;
  height: 60vh;
  overflow: hidden;
}

#map canvas {
  position: relative;
}

#log {
  left: 0;
  bottom: 0;
  width: 60vw;
  height: 40vh;
  overflow: hidden;
  border: 6px solid #000;
}

#log p {
  margin-top: 0;
}

#combat {
  right: 0;
  top: 0;
  width: 40vw;
  height: 60vh;
}

#status {
  right: 0;
  bottom: 0;
  width: 40vw;
  height: 40vh;
  border: 6px solid #000;
}

.hidden {
  opacity: 0;
}
